<style>
    .imgClass{
        color: #606868;
        box-shadow: 2px 2px 12px 2px;
        margin: 15px;
        width: 80%;
        height: auto;
        animation: aparecer 2s;
    }
    .pclass{
        margin: 5px 50px 5px 50px;
    text-align: justify;
    font-size: 17px;
    transition: 2s;
    animation: aparecer 2s;
    }
    @keyframes aparecer{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 100;
        }
    }
    .multi{
        width: 20%;
        height: auto;
    }
    </style>
        <p>¿Cuál es la Función de una Tierra Física?</p>
<br>
    <p class="pclass">La principal función de una tierra física es generar una protección para evitar riesgos de descargas eléctricas a los seres vivos. La electricidad busca el camino con menor resistencia eléctrica para fluir. En este caso, una tierra física bien colocada puede ser el camino que tenga la menor resistencia eléctrica. la NFPA y el IEEE recomiendan un valor de resistencia a tierra de 5.0 ohmios o menos. Esta medición puede ser efectuada mediante un dispositivo llamado Terrometro, el cual puede medir la impedancia del electrodo, barilla con recubrimiento de cobre o reguilete. Es importante realizar esta medición cada cierto tiempo para asegurarse de que siga cumpliendo con sus propiedades de protección. Dependiendo del tipo de suelo y las condiciones de humedad, esta resistencia puede variar y dejar de funcionar adecuadamente en su función de ser el camino con menor resistencia y generar una protección a los seres vivos contra descargas eléctricas.</p>
    <br>
    <p>Tipos de Conductores</p>
    <br>
    <img class="imgClass multi" src="./view/tierraFisica/tierra1.jpg" alt="camaras1" loading="lazy">
    <img class="imgClass multi" src="./view/tierraFisica/tierra2.png" alt="camaras1" loading="lazy">
    <img class="imgClass multi" src="./view/tierraFisica/tierra3.jpg" alt="camaras1" loading="lazy">
    <img class="imgClass multi" src="./view/tierraFisica/tierra4.webp" alt="camaras1" loading="lazy">
    <br>
    <p>¿Tipos de Tierras Fisicas?</p>
    <br>
    <p class="pclass">Existen tres tipos diferentes de puestas a tierra o tomas de tierra: Sistema a tierra de corriente continua, Sistema a tierra de corriente alterna y Sistema a tierra electroestático. La principal diferencia entre ellos es el tipo de corriente que manejan. La corriente continua es un flujo constante de electrones en el tiempo, mientras que la corriente alterna corresponde a un cambio del flujo de electrones en una dirección u otra durante un periodo de tiempo, El sistema a tierra electroestático general mente son utilizados para evitar la electricidad estática que pueda dañar dispositivos sensibles como componentes electrónicos, también son utilizados como medio de protección en el manejo de componentes químicos flama bles, entre otras aplicaciones.</p>
    <br>
    <p>¿para qué se usa la tierra física aislada en equipos de audio?</p>
    <img class="imgClass" src="./view/tierraFisica/tierraA.png" alt="camaras1" loading="lazy">
    <br>
    <p class="pclass">La tierra física aislada se utiliza para reducir significativamente la posibilidad de ruido electromagnético (EMI) y de radiofrecuencia (RFI) desde la ruta a tierra en común. Un tomacorriente de tierra aislada es un tipo de tomacorriente diseñado para eliminar los problemas causados por el ruido electromagnético y es utilizado en equipos electrónicos sumamente sensibles, como los utilizados en la medicina, la industria aeroespacial o los estudios de grabación.</p>
