<style>
        .imgClass{
        color: #606868;
        box-shadow: 2px 2px 12px 2px;
        margin: 15px;
        width: 80%;
        height: auto;
        animation: aparecer 2s;
    }
    .pClass{
        margin: 5px 50px 5px 50px;
    text-align: justify;
    /* font-size: 17px; */
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
    transition: 2s;
    animation: aparecer 2s;
    }
    @keyframes aparecer{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 100;
        }
    }
    .multi{
        width: 20%;
        height: auto;
    }
</style>
<p>¿Cual es la diferencia entre cámaras de seguridad de 1MP, 2MP, 3MP, 5MP y 8MP?</p>
<br>
<img class="imgClass" src="./view/camarasMP/portada.png" alt="camaras1" loading="lazy">
<p class="pClass">La principal diferencia entre cámaras de seguridad de 1MP, 2MP, 3MP, 5MP y 8MP es la resolución de la imagen que pueden capturar. MP significa megapíxeles y se refiere al número de píxeles en millones que tiene el sensor de la cámara. Cuanto mayor sea el número de megapíxeles, mayor será la resolución de la imagen y más detalles podrá capturar la cámara.</p>
<br>
<p class="pClass">Por ejemplo, una cámara de seguridad de 1MP puede capturar imágenes con una resolución de aproximadamente 1280 x 720 píxeles, mientras que una cámara de seguridad de 8MP puede capturar imágenes con una resolución de aproximadamente 3840 x 2160 píxeles. Esto significa que una cámara de seguridad de 8MP puede capturar imágenes con cuatro veces más detalle que una cámara de seguridad de 1MP.</p> 
 <br>
<p class="pClass">Sin embargo, tener una mayor resolución no siempre es mejor en todas las situaciones. Las cámaras de seguridad con mayor resolución también pueden requerir más ancho de banda y almacenamiento para transmitir y guardar las imágenes capturadas. Además, el costo de las cámaras de seguridad también puede aumentar a medida que aumenta la resolución.</p>
<br>
<p>¿Qué tipos de cámaras profesionales se utilizan para videovigilancia?</p>
<br>
<p class="pClass">Las cámaras de seguridad están disponibles en una amplia variedad de estilos y tamaños. Las cámaras tipo bala tienen un aspecto cilíndrico y se utilizan tanto en interiores como en exteriores. Las cámaras domo tienen una forma de cúpula y son comunes en hogares, lugares de ocio y tiendas comerciales. Las cámaras PTZ son ideales para áreas grandes que requieren escaneos de 180º o 360º, Las cámaras tipo pinhole o cámaras ocultas se utilizan para monitorear sin que cea visible la cámara a simple vista, las cámaras con lente motorizado se utilizan para realizar un acercamiento a un punto en específico mediante movimiento electro mecánico dentro de la cámara.</p>
<br>
<p>Camaras tipo Bala</p>
<br>
<img class="imgClass multi" src="./view/camarasMP/bala.png" alt="camaras2" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/bala2.png" alt="camaras3" loading="lazy">
<br>
<p>Camaras tipo Domo</p>
<br>
<img class="imgClass multi" src="./view/camarasMP/domo.png" alt="camaras4" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/domo2.png" alt="camaras5" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/domo3.png" alt="camaras6" loading="lazy">
<br>
<p>Camaras tipo Pinhole o Ocultas</p>
<br>
<img class="imgClass multi" src="./view/camarasMP/pinhole.webp" alt="camaras7" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/pinhole2.png" alt="camaras8" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/pinhole3.webp" alt="camaras9" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/pinhole4.webp" alt="camaras10" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/pinhole5.webp" alt="camaras11" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/pinhole6.webp" alt="camaras12" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/pinhole7.webp" alt="camaras13" loading="lazy">
<br>
<p>Camaras tipo Lente Motirizado</p>
<br>
<img class="imgClass multi" src="./view/camarasMP/mot.png" alt="camaras14" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/mot2.png" alt="camaras15" loading="lazy">
<br>
<p>Camaras tipo Profecionales</p>
<br>
<img class="imgClass multi" src="./view/camarasMP/profecional.png" alt="camaras16" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/lente.png" alt="camaras17" loading="lazy">
<br>
<p>Camaras tipo PTZ</p>
<br>
<img class="imgClass multi" src="./view/camarasMP/ptz.png" alt="camaras18" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/ptz2.png" alt="camaras19" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/ptz3.png" alt="camaras20" loading="lazy">
<img class="imgClass multi" src="./view/camarasMP/ptz4.png" alt="camaras21" loading="lazy">