<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #portada{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="bodyy">
    <img id="portada" src="./media/webp/fondo.webp">
    <p>En este sitio web, compartimos nuestro conocimiento y experiencia adquiridos a lo largo de los años en el emocionante campo de la seguridad electrónica. Nuestra misión es proporcionar una guía de referencia completa y accesible para aquellos interesados en aprender más sobre este tema en constante evolución. ¡Únete a nosotros en este viaje de descubrimiento y exploración!
    </p>

</body>
</html>